<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>rest_filesd</title>
    <meta name="description" content="layout template with header, footer, sidebar etc.">
    <link rel="stylesheet" href="static/styles/style.css">
    <script src="static/styles/script.js"></script>
</head>

<body>
    <header>
        <div id="logo"><img src="/logo.png">PROMETHEUS&nbsp;REST FILESD</div>
        <nav>
            <ul>
                <li><a href="/">Home page</a>
                    <li><a href="/spec">Specification</a>
                        <li><a href="/api">APIUI</a>
                            <li><a href="/api/v1/targets">Targets</a>
            </ul>
        </nav>
    </header>
    <section>
        <strong>HTML5 tags: header, nav, section, main, article, aside, footer, address.</strong>
    </section>
    <section id="pageContent">
        <main role="main">
            <article>
                <h2>Stet facilis ius te</h2>
                <p>Lorem ipsum dolor sit amet, nonumes voluptatum mel ea, cu case ceteros cum. </p>
            </article>
            <article>
                <h2>Illud mollis moderatius</h2>
                <p>Eum facete intellegat ei, ut mazim melius usu. Has elit simul primis ne, regione minimum id cum. </p>
            </article>
            <article>
                <h2>Ex ignota epicurei quo</h2>
                <p>Quo debet vivendo ex. Qui ut admodum senserit partiendo. </p>
            </article>
            <article>
                <h2>His at autem inani volutpat</h2>
                <p>Te has amet modo perfecto, te eum mucius conclusionemque, mel te erat deterruisset. Tollit possit in pri, platonem persecuti ad vix, vel nisl albucius gloriatur
                    no.
                </p>
            </article>
        </main>
        <aside>
            <div>Sidebar 1</div>
            <div>Sidebar 2</div>
            <div>Sidebar 3</div>
        </aside>
    </section>
    <footer>
        <p>&copy; You can copy, edit and publish this template but please leave a link to our website | <a href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a></p>
        <address>
			Contact: <a href="mailto:me@example.com">Mail me</a>
		</address>
    </footer>


</body>

</html>