<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>rest_filesd</title>
    <meta name="description" content="layout template with header, footer, sidebar etc.">
    <link rel="stylesheet" href="static/styles/style.css">
    <script src="static/styles/script.js"></script>
</head>

<body>
    <header>
        <div id="logo"><img src="static/styles/logo.png">PROMETHEUS&nbsp;REST FILESD</div>
        <nav>
            <ul>
                <li><a href="/">Home page</a>
                    <li><a href="/spec">Specification</a>
                        <li><a href="/api">APIUI</a>
                            <li><a href="/api/v1/targets">Targets</a>
            </ul>
        </nav>
    </header>
    <section>
        <strong>API Endpoints available:</strong>
    </section>
    <section id="pageContent">
        <main role="main">
            <article>
                <h2>Specification</h2>
                <p>/specification</p>
            </article>
            <article>
                <h2>UI</h2>
                <p>/api</p>
            </article>
            <article>
                <h2>Targets:</h2>
                <p>/api/v1/targets</p>
            </article>
            <article>
                <h2>Available methods:</h2>
                <p>GET, POST, PUT, DELETE
                </p>
            </article>
        </main>
        <aside>
            <div>Sidebar 1</div>
            <div>Sidebar 2</div>
            <div>Sidebar 3</div>
        </aside>
    </section>
    <footer>
        <p>&copy; You can copy, edit and publish this template but please leave a link to our website | <a href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a></p>
        <address>
			Contact: <a href="mailto:me@example.com">Mail me</a>
		</address>
    </footer>


</body>

</html>